.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  background: var(--color-white-to-black);
  color: var(--color-black-to-white);
}

.planet_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
  font-weight: 700;
  color: var(--color-black-to-white);
}

.planet_Img {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vw;
  text-align: center;
}

.progress_container {
  margin-top: 2vh;
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black-to-white);
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  width: 90vw;
  font-size: 2vh;
  font-weight: 300;
  margin-bottom: 1vh;
}

.planet_list {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 11vh;
  width: 90vw;
  overflow-x: auto;
  /* 가로 스크롤 허용 */
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  /* 선택사항: 스냅 스크롤 효과 */
}

.planet_element {
  flex: 0 0 auto;
  /* 요소가 줄어들거나 커지지 않도록 설정 */
  width: 10vh;
  height: 10vh;
  background-color: var(--color-lightgray-to-white);
  border: transparent;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  white-space: nowrap;
  scroll-snap-align: start;
  /* 선택사항: 스냅 스크롤 효과 */
}

.planet_ele_img {
  width: 8vh;
  height: 8vh;
}


.planet_ele_img {
  width: 8vh;
  height: 8vh;
}

.list_btn {
  margin-top: 8vh;
  width: 90vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-black-to-mint);
  background-color: var(--color-white-to-mint);
  color: black;
  border-radius: 30px;
  font-size: 2.3vh;
  font-weight: 300;
}