.list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  
  background: var(--color-white-to-black);
  color: var(--color-black-to-white);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  margin-top: 10vh;
  width: 100vw;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black-to-white);
  width: 40vw;
  border-radius: 20px;
}

.planet_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
}

.planet_img {
  width: 30vw;
  height: 30vw;
}

.planet_info {
  width: fit-content;
  display: flex;
  position: relative;
  right: 10vw;
  top: 2vh;
  font-size: 1.9vh;
}

.planet_name {
  font-weight: 700;
  margin-bottom: 2vh;
}

.planet_distance {
  margin-bottom: 1vh;
}

.planet_distance, .planet_demand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
