.list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  margin-top: 10vh;
  width: 100vw;
  position: relative;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black-to-mint);
  width: 40vw;
  border-radius: 10px;
}

.planet_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
}

.planet_img {
  width: 30vw;
  height: 30vw;
}

.planet_info {
  width: 38vw;
  margin-left: 2vw;
  display: flex;
  position: relative;
  top: 1vh;
  font-size: 1.9vh;
}

.planet_name {
  font-weight: 700;
  margin-bottom: 2vh;
  color: var(--color-black-to-white);
}

.list::after {
  content: '';
  width: 40vw; /* Adjust to match the width of .planet */
  margin: 0; /* Adjust the margin to align with .planet if needed */
  visibility: hidden;
}
