.home {
  width: 100dvw;
  max-width: 768px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  // touch-action: none;
}

.copyWrite_container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  color: var(--color-black-to-fff);
  align-items: center;
  width: 85vw;
  max-width: 768px;
}

.copyWrite {
  width: 70vw;
  font-size: 8vw;
  font-weight: 700;
  max-width: 768px;
}

.profile_image {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.map_container {
  display: flex;
  width: 100vw;
  height: 100vw;
  z-index: -1;
  border: 1px solid black;
  margin-top: 3vh;
  max-width: 768px;
}

.missions_container {
  display: flex;
  width: 100vw;
  max-width: 768px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  position: absolute;
  z-index: 31;
}

.mission {
  height: 5vh;
  width: 85vw;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vh;
}


.mission_content {
  max-width: 768px;
  width: 85vw;
  position: absolute;
  border: 1px solid white;
  border-radius: 1vh;
  background-color: rgba($color: black, $alpha: 0.7);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8vh;
  font-weight: 200;
}

.mission_content_text {
  width: 75vw;
  max-width: 768px;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn_container {
  display: flex;
  max-width: 768px;
  width:fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: relative;
  margin-top: 7.7vh;
}

.btn {
  width: 80dvw;
  height: 50px;

  border-radius: 100px;
  background:var(--color-lightgray-to-000);
  color: var(--color-black-to-white);
  font-size: 16px;
  border: 1px solid var(--color-lightgray-to-mint);
  // background: lightcoral;
}

.run_start_btn {
  width: 90vw;
    // border: 1px solid var(--mint);
}

.btn_text {
  position: absolute;
  margin-bottom: 2vh;
  font-size: 2vh;

}

.running_planet {
  position: absolute;
  height: 33vh;
  width: 33vh;
  background-color: var(--color-gray-to-mint);
  border-radius: 50%;
  z-index: -2;
  border: none;
  top: 80vh;
  
}