.container {
  width: 85%;
  margin-top: 20px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.list__container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 99%;
}

.list__crew_container {
  width: inherit;
  height: 130px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;

  display: flex;
  flex-wrap: nowrap;
  // justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.list__crew_title{
  width: inherit;
  margin-top: 10px;

  display: flex;
  align-items: center;

  span{
    width: 40px;
    margin-left: 10px;
    border-radius: 8px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.list__crew_level{
  background: lightgray;
  font-size: 12px;
  font-weight: 400;
}
.list__crew_category{
  border: 1px solid black;
}
.list__crew_crewname{
  font-size: 20px;
  font-weight: bold;
}

.list__crew_img{
  width: 30%;
  max-width: 120px;
  margin-left: 10px;
}
.list__skeleton{
  width: 150px;
  height: 100px;
  margin-left: 10px;
  background: lightgray;
  border-radius: 100px;
}
.list__crew_introduction{
  height: 100%;
  width: 90%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list__crew_content{
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.list__crew_introduction_bottom{
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;

}
.list__crew_tag{
  font-size: 10px;
  font-weight: 200;
  margin-right: 5px;
}
