.main_container{
  width: 90dvw;
  height: 100dvh;
  background: lightcoral;

  margin-top: 23dvh;
  overflow-x: hidden;
}

.crew_container{
  width: inherit;
  min-height: 180px;
  background: lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.crew_top{
  width: 90%;
  background: lightgreen;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.crew_title{
  min-width: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
.crew_member{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    margin-top: 3px;
    font-size: 16px;
  }
}

// .container {
//   width: 90%;
//   margin-top: 25dvh;
//   // height: 100dvh;
//   overflow: hidden;
// }

// .list__container {
//   overflow-x: auto;
//   overflow-y: hidden;
//   width: 99%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

// .list__crew_top{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   // align-items: center;

// }
// .home__crew_member{
//   width: 10%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   span{
//     margin-top: 3px;
//     font-size: 16px;
//   }
// }

// .list__crew_container {
//   width: inherit;
//   height: 130px;
//   margin-bottom: 20px;
//   border: 1px solid black;
//   border-radius: 5px;

//   display: flex;
//   flex-wrap: nowrap;
//   // justify-content: space-around;
//   align-items: center;
//   cursor: pointer;
// }

