.main_container{
  width: 90dvw;
  max-width: 768px;
  height: 100dvh;

  margin-top: 23dvh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew_container{
  width: 99%;
  max-width: 650px;
  height: 160px;
  background: white;

  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.crew_top{
  width: 95%;
  height: 15%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.crew_title{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.crew_crewLevel{
  width: 27px;
  height: 27px;
  background: lightgray;
  border-radius: 100px;

  font-size: 20px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.crew_crewName{
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}
.crew_member{
  // width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 20px;
    height: 20px;
  }
  span{
    margin-top: 5px;
    font-size: 16px;
  }
}

.crew_introduction_container{
  width: 95%;
  height: 70%;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.crew_img{
  background: lightgray;
  width: 110px;
  height: 110px;
  border-radius: 5px;
}
.crew_summary{
  width: 100%;
  height: 100%;
  margin-left: 10px;
  // background: lightpink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.crew_introduction {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  max-height: calc(1.5em * 2);

  
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
}

.crew_summary_bottom{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.crew_rule{
  // width: 60%;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  span {
    margin-right: 20px;
    position: relative;
  }
  
  span:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    height: 90%;
    border-right: 1px solid lightgray;
  }
}
.crew_categories{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  font-size: 12px;
  text-align: center;
  p{
    color:white;
    background: black;
    width: 40px;
    border-radius: 5px;
  }
  span{
    color:black;
    width: 50px;
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
    
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  }
}
.crew_leader{
  font-size: 16px;  
  font-weight: 400;
}
// .container {
//   width: 90%;
//   margin-top: 25dvh;
//   // height: 100dvh;
//   overflow: hidden;
// }

// .list__container {
//   overflow-x: auto;
//   overflow-y: hidden;
//   width: 99%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

// .list__crew_top{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   // align-items: center;

// }
// .home__crew_member{
//   width: 10%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   span{
//     margin-top: 3px;
//     font-size: 16px;
//   }
// }

// .list__crew_container {
//   width: inherit;
//   height: 130px;
//   margin-bottom: 20px;
//   border: 1px solid black;
//   border-radius: 5px;

//   display: flex;
//   flex-wrap: nowrap;
//   // justify-content: space-around;
//   align-items: center;
//   cursor: pointer;
// }

