.search__container{
  width: inherit;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  background: white;
}
.search__top{
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  p{
    font-size: 20px;
    font-weight: 700;
  }
}

.search__backspace{
  position: absolute;
  left: 5%;
  width: 25px;
  cursor: pointer;
}

.search__middle_container{
  width: inherit;

  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
}
.search__form{
  width: 90%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid black ;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search__search_icon{
  margin-left: 10px;
  width: 8%;
}
.search__search_input{
  width: 80%;
  height: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.search__search_input::placeholder{
  color: lightgray;
}

.search__tag_container{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.search__tag_box{
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.search__tag_button{
  width: 32%;
  color: black;
  border-radius: 8px;
  background: lightgray;
}
.active{
  background: gray;
}