.body{
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-content: center;
}
.top{
  width: inherit;
  height: 100%;
  margin-top: 8dvh;
}
.btn_container{
  width: inherit;
  height: 5%;
  display: flex;
  align-content: center;
  justify-content: space-around;

}
.rank_btn{
  width: 40%;
  border: 1px solid var(--color-black-to-mint);
  color: var(--color-black-to-mint);
  border-radius: 10px;
}
.selected{
  background: var(--color-lightgray-to-mint);
  color: black !important;
}

.rank_list{
  width: inherit;
  height: 100dvh;
  overflow-y: auto;
}
.rank_category{
  width: inherit;
  margin-top: 20px;
  height: 6%;
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.rank_category_container{
  width:50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  p{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black-to-white);
  }
  button{
    width: 30%;
    height: 50%;
    
    border: 1px solid var(--color-black-to-mint);
    color: var(--color-black-to-mint);
    border-radius: 5px;
  }
}

.rank_container{
  width: 100%;
  height: 100dvh;
  color: var(--color-black-to-white);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew_box{
  width: 90%;
  height: 50px;
  
  border-radius: 10px;
  border: 1px solid var(--color-black-to-white);

  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.crew_rank{
  background: var(--color-white-to-mint);
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}