.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_img {
  height: 15vh;
  width: 15vh;
  border: 1px solid black;
  border-radius: 50%;
}

.profile_img_placeholder {
  height: 15vh;
  width: 15vh;
  border: 1px solid black;
  border-radius: 50%;
}

.edit_container {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  align-items: center;
  margin-bottom: 3vh;
}

.edit_btn_section {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5vw;
}

.edit_btn {
  height: 3vh;
  margin-bottom: 1vh;
}

.info_container {
  width: 88vw;
  border: none;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  padding: 1vh 0 1vh 0;
  margin-bottom: 1vh;
}

.info_line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
}

.info_missions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-height: fit-content;
  font-size: 2vh;
  font-weight: 200;
}

.info_mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  width: 70vw;
}

.missionId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  align-items: center;
}

.mission_dot {
  width: 2vw;
  height: 2vw;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 1vh;
}

.info_type {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 2vh;
  font-weight: 600;
  margin: 2vw;
}

.info_type.left-align {
  align-self: flex-start; /* 추가: 나의 운동 부분만 왼쪽 정렬 */
}

.info_content {
  font-size: 2vh;
  font-weight: 200;
}

.mission_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 55vw;
}

.misson_percent {
    font-weight: 600;
}

.calendar_container {
  margin-top: 2vh;
  height: 40vh;
  width: 88vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5vh;
  background-color: white;
}
