.main_container {
  width: inherit;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 0;
}
.middle{
  width: inherit;
  max-width: 768px;
  min-height: 40dvh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;

}
.crew_state{
  width: 90%;
  height: 50%;
  min-height: 150px;
  max-width: 768px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.crew_level{
  width: 10%;
  font-size: 16px;
  font-weight: 700;
}
.crew_crewImg{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: lightgray;
}
.crew_member{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    margin-top: 3px;
    font-size: 16px;
  }
}

.crew_introduction{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.crew_category{
  width: 90%;
  min-height: 5dvh;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  p{
    font-size: 20px;
    font-weight: 700;
  }
}
.crew_tags{
  min-width: 50%;
  // margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}


.bottom{
  width: 90%;
  max-width: 768px;
  margin-top: 30px;
  margin-bottom: 100px;
  // min-height: 40dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.rule_introduction{
  width: 90%;
  min-height: 20dvh;
  display: flex;
  margin-top: -20px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-around;
}
.rule_introduction_block{
  display: flex;
  flex-direction: column;

  align-items: center;
  p{
    font-size: 16px;
  }
  span{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

.rule__summary{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;

  p{
    font-size: 36px;
  }
  span{
    margin-top: 20px;
    font-size: 24px;
  }
}

.request_btn{
  width: inherit;
  margin-top: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid black;
  font-size: 16px;
}
.request_btn_cancle{

  width: inherit;
  margin-top: 60px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background: lightgray;
  font-size: 16px;
  color:black;
}