/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import "./theme.scss";
@import "./variable.scss"; // Blocks
@import '/public/font/Pretendard/pretendard.scss';

* {
  -webkit-tap-highlight-color: transparent;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge, IE */
  user-select: none; /* Modern browsers */

  box-sizing: border-box;


  -ms-overflow-style:none;
  scrollbar-width:none;
}
*::-webkit-scrollbar{
  display:none /* Chrome , Safari , Opera */
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: env(safe-area-inset-bottom);
  font-family: 'Pretendard', sans-serif; 
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

// List
ol,
ul {
  list-style: none;
}

// Form
button,
input,
select {
  margin: 0;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // color: black;
}

// Box sizing
html {
  overscroll-behavior: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Media
img,
video {
  height: auto;
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
