.main_container {
  width: 100dvw;
  max-width: 768px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 0;
}
.list_container {
  width: inherit;
  max-width: 768px;
  min-height: 40dvh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black-to-white);
}
.request_user_container{
  width: 90%;
  height: 90px;
  border-bottom: 1px solid var(--color-lightgray-to-white);

  color: var(--color-black-to-white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.request_user_info{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  p{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  img{
    width: 60px;
  }
}
.action_btn_container{
  display: flex;
  flex-wrap: nowrap;

  button{
    width: 40px;
    height: 30px;
    border: 1px solid var(--color-black-to-mint);
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 3px;
  }
}

.yes{
  background-color: var(--color-white-to-mint);
}
.no{
  background-color: var(--color-white-to-black);
  color: var(--color-black-to-white);
}