.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.profile {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1;
  background-color: lightgray;

  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    height: 100%;
  }
}

.info {
  display: flex;
  height: 1.2rem;
  align-items: center;
  gap: 1rem;
}

.status {
  height: 100%;
  background-color: #888888;
  border-radius: 50%;
  align-self: stretch;
  aspect-ratio: 1 / 1;
}

.status_online {
  height: 100%;
  background-color: var(--mint);
  border-radius: 50%;
  align-self: stretch;
  aspect-ratio: 1 / 1;
}

.runTime{
  margin-top: 2px;
 font-size: 14px; 
 font-weight: 700;
 color: var(--color-black-to-white);
}