.comment__container{
  width: 90%;
  min-height: 10dvh;
  
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;


}

.comment__comment_box{
  width: 90%;
  min-height: 50px;
  margin: 10px;
  border: 1px solid black ;
  border-radius: 10px;

  display: flex;
  align-items: center;


  img{
    margin: 5px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background: lightgray;
  }
}

.comment__comment{
  width: inherit;
  height: 90%;
  display: flex;
  flex-direction: column;  
}

.comment__author{
  width: inherit;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;

  span{
    font-weight: 400;
    font-size: 10px;

  }
}
.comment_content{
  margin: 5px;
  font-size: 10px;
}