.comment__container{
  width: 100dvw;
  
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-around;


}
.comment__form{
  width: inherit;
  display: flex;
  justify-content: center;
}
.commnet__input{
  width: 90%;
  min-height: 50px;
  border: 1px dashed #888888;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.commnet__input::placeholder{
  color:#888888;
  padding-left: 40%;
}
.comment__comment_box{
  width: 90%;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid black ;
  border-radius: 10px;

  display: flex;
  align-items: center;


  img{
    margin: 5px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background: lightgray;
  }
}

.comment__comment{
  width: inherit;
  height: 90%;
  display: flex;
  flex-direction: column;  
}

.comment__author{
  width: inherit;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;

  span{
    font-weight: 400;
    font-size: 10px;

  }
}
.comment__content{
  margin: 5px;
  font-size: 10px;
}