%circle {
  background-color: rgb(159, 159, 159);
  border-radius: 50%;
  color: white;
  width: 30%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  position: absolute;
  transition: all 0.8s;
  transition-timing-function: ease-in-out;
  border-radius: 50%;

  .content {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .description {
    font-size: 1rem;
  }
}

.circle_right {
  @extend %circle;
  width: 30%;
  margin-left: 50%;
  margin-top: 35%;
}

.circle_left {
  @extend %circle;
  width: 30%;
  margin-left: 20%;
  margin-top: 35%;
}
.circle_top {
  @extend %circle;
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;
}

.circle_active {
  @extend %circle;
  background-color: black;
  width: 50%;
  margin-left: 25%;
  margin-top: 45%;
  z-index: 1;

  .content {
    font-size: 2rem;
    font-weight: bold;
  }

  .description {
    font-size: 1.4rem;
  }
}

.component{
  button{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(159, 159, 159);
    padding: 10px;
    border-radius: 100px;
  }
}