

.top{
  position: fixed;
  width: inherit;
  height: 6dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white-to-black);
  z-index: 20;
  border-bottom: 1px solid var(--color-lightgray-to-white);
  p{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black-to-white);
  }
}
.backspace{
  position: absolute;
  left: 5%;
  width: 25px;
  cursor: pointer;
}

.title{
  font-size: 24px;
  font-weight: bold;
}
.edit{
  position: absolute;
  right: 5%;
  width: 25px;
  cursor: pointer;
}