.container {
  box-sizing: border-box;
  text-align: center;
  min-width: 50px;
  min-height: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--color-black-to-mint);
  background: var(--color-white-to-mint);
  font-size: 13px;
  font-weight: bold;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
}

.description {
  font-size: 0.7rem;
  color: var(--color-lightgray-to-black);
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

