.posts__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: black;

}

.posts__sheet_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  background: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 24px 24px 0 0;
  padding: 12px 0 24px 0;
  will-change: transform;
}

.posts__bottom_header{
  height: 50px;
  margin-bottom: -20px;
  cursor: grab;
  user-select: none;
}

.posts__handle_bar{
  width: 58px;
  height: 8px;
  background: #dfdfdf;
  margin: 0 auto;
}

.posts_sheet_state{
  width: 90%;
  margin-top: 20px; 

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  img{
    width: 25px;
    margin-right: 60px;
  }
  p{
    font-size: 20px;
    font-weight: 700;
  }
}

.posts__sheet_content_wrapper{
  position: relative;
  width: inherit;
  margin-top: -20px;
  padding: 24px;
}

.posts__sheet_content{
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.list__action_toggle{
  position: absolute;
  top: 80%;
  right: 6%;
  z-index: 100;
  width: 45px;
  height: 45px;
  background: black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  img{
    width: 50%;
    height: 50%;
  }
}

.list__action_toggle.clicked{
  background: gray;
  transform: rotate(45deg); 
}

.list__write_toggle{
  position: absolute;
  top: 70%;
  right: 6%;
  z-index: 50;
  width: 45px;
  height: 45px;
  background: black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
  img{
    width: 60%;
    height: 60%;
  }
}

.list__chat_toggle{
  position: absolute;
  top: 60%;
  right: 6%;
  // z-index: 100;
  width: 45px;
  height: 45px;
  background: black;
  border-radius: 100px;
  padding-top: 2px;
  padding-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  img{
    width: 70%;
    height: 70%;
  }
}
@keyframes editMove {
  0% {
    top: 80%;
  }
  100% {
    top: 70%;
  }
}
.list__edit_move {
  animation: editMove 0.3s ease-in-out;
}
@keyframes sendMove {
  0% {
    top: 70%;
  }
  100% {
    top: 60%;
  }
}

.list__send_move {
  animation: sendMove 0.3s ease-in-out;
}