.body{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
}
.login {
  width: 100%;
  max-width: 768px;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

}

.copywrite {
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;

  font-size: 36px;
  font-weight: 800;
  line-height: 130%;
  
}

.earth_container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.earth {
  width: 32vh;
  height: 32vh;
}

.login_btn_container {
  height: 40%;
  margin-top: -20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_btn {
  position: relative;
  height: 50px;
  width: 80%;
  color: black;
  border-radius: 10px;
  margin-bottom: 15px;
}
.oauthImg{
  position: absolute;
  left: 4%;
  bottom: 10%;
}
.kakao_btn{
  background: #FDDC3F;
}
.naver_btn{
  background: #00C73C;
  color: white;
}
.google_btn{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  img{
    margin-bottom: 5px;
  }
}
.pwa_btn{
  position: absolute;
  bottom: 5%;
}